body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f0f8ff;
  color: #003366;
}

header {
  background-color: #0077cc;
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 60px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 20px;
}

.accueil {
  text-align: center;
}

.onglets {
  margin-top: 30px;
}

.onglet {
  display: inline-block;
  margin: 80px;
  padding: 15px 30px;
  background-color: #005fa3;
  color: white;
  text-decoration: none;
  border-radius: 8px;
}

.onglet:hover {
  background-color: #004c85;
  transform: scale(1.05);
  filter: brightness(1.1);
  z-index: 1;
}

.images-eau img {
  width: 45%;
  margin: 2%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

footer {
  background-color: #0077cc;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
}

.mosaique {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 4px;
  margin-top: 40px;
  padding: 10px;
}

.mosaique img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, filter 0.3s ease;
  cursor: pointer;
}

.mosaique img:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
  z-index: 1;
  border-radius: 8px;
}
.image-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.4s ease;
  border-radius: 8px;
}

.image-container img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 8px;
  transition: all 0.4s ease;
  display: block;
}

.image-container .texte-explication {
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: white;
  color: #003366;
  padding: 20px;
  box-sizing: border-box;
  transition: right 0.4s ease;
  opacity: 0;
  max-height: 100%;
  overflow-y: auto;
  border-radius: 8px;
}

.image-container.active img {
  transform: scale(0.9) translateX(-50%);
  border-radius: 8px;
}

.image-container.active .texte-explication {
  right: 0;
  opacity: 1;
}
